

<section class="contenedor">

  <!--CABECERA-->
  <section>
    <h1>Draft</h1>
    <section class="botones">
      <button (click)="eliminarEquipos()"[disabled]="true" style="margin-right: 6px" ><span *ngIf="eliminandoEquipos"><i class="fas fa-circle-notch fa-spin" ></i></span> Eliminar Equipos</button>
      <button (click)="generateEquipos()"[disabled]="true" style="margin-right: 6px"><span style="margin-right: 6px" *ngIf="generandoEquipos"><i class="fas fa-circle-notch fa-spin"></i></span>Generar Equipos</button>
      <button (click)="vaciarEquipos()" [disabled]="true" style="margin-right: 6px"><span style="margin-right: 6px" *ngIf="vaciarJugadoresEquipo"><i class="fas fa-circle-notch fa-spin"></i></span>Vaciar Equipo</button>
      <button (click)="guardarDraft()" [disabled]="listadoequipos[listadoequipos.length-1].jugadores.length != 10 || generadoDraft" style="margin-right: 6px"><span style="margin-right: 6px" *ngIf="draft.guardandoDraft"><i class="fas fa-circle-notch fa-spin"></i></span>Guardar Draft</button>
    </section>
  </section>

  <!--RONDA-->
  <section>
    <h3 class="ronda" *ngIf="equipoSelector">Ronda {{draft.rondaDraft}}</h3>
  </section>

  <!--CHIPS COMUNIDADES-->
  <section>
    <article *ngFor="let e of draft.equipos" [ngStyle]="{'background-color':e.seleccionable == true ? '#212529' : '#495057' }">
      <span>{{e.name}}</span>
    </article>
  </section>

  <!--EQUIPO-->
  <section>
    <section>
        <span><img src="{{draft.equipoSelector.equipo.escudo}}" width="20px" height="35px"></span>
        <span><h1>{{draft.equipoSelector.equipo.name}}</h1></span>
        <span><img src="{{draft.equipoSelector.equipo.bandera}}" width="35px" height="25px"></span>
    </section>
    <section>
      <table class="table table-striped table-hover table-bordered table-dark table-sm" *ngIf="draft.equipoSelector.equipo.jugadores.length > 0">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Posición</th>
            <th scope="col">AT</th>
            <th scope="col">DF</th>
            <th scope="col">REB</th>
            <th scope="col">PAS</th>
            <th scope="col">AGV</th>
            <th scope="col">SEX</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jugador of draft.equipoSelector.equipo.jugadores; let i=index">
            <td>{{jugador.name}}</td>
            <td>{{jugador.posicion}}</td>
            <td>{{jugador.atributos.ataque}}</td>
            <td>{{jugador.atributos.defensa}}</td>
            <td>{{jugador.atributos.rebotes}}</td>
            <td>{{jugador.atributos.pase}}</td>
            <td>{{jugador.atributos.agresividad}}</td>
            <td>{{jugador.atributos.sexualidad}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <!--JUGADORES-->
  <section>
    <section>
      <span><h3>Selección de Monos</h3></span>
      <!--<span><input [(ngModel)]="searchText" placeholder="search text goes here"></span>-->
      <span>
        <select [(ngModel)]="filtros.posicion">
          <option value="">Todas las posiciones</option>
          <option value="PIVOT">Pivot</option>
          <option value="ALA-PIVOT">Ala-Pivot</option>
          <option value="ALERO">Alero</option>
          <option value="ESCOLTA">Escolta</option>
          <option value="BASE">Base</option>
          </select>
      </span>
    </section>
    <table class="table table-striped table-hover table-bordered table-dark table-sm" *ngIf="draft.jugadores.length > 0">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Posición</th>
          <th scope="col" (click)="ordenarTabla('AT')" style="cursor: pointer">AT</th>
          <th scope="col" (click)="ordenarTabla('DF')" style="cursor: pointer">DF</th>
          <th scope="col" (click)="ordenarTabla('REB')" style="cursor: pointer">REB</th>
          <th scope="col" (click)="ordenarTabla('PAS')" style="cursor: pointer">PAS</th>
          <th scope="col" (click)="ordenarTabla('AGV')" style="cursor: pointer">AGV</th>
          <th scope="col" (click)="ordenarTabla('SEX')" style="cursor: pointer">SEX</th>
          <th scope="col">Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of draft.jugadores | filtroPosicion : filtros.posicion; let i=index" style="cursor: pointer" >
          <td>{{jugador.name}}</td>
          <td>{{jugador.posicion}}</td>
          <td>{{jugador.atributos.ataque}}</td>
          <td>{{jugador.atributos.defensa}}</td>
          <td>{{jugador.atributos.rebotes}}</td>
          <td>{{jugador.atributos.pase}}</td>
          <td>{{jugador.atributos.agresividad}}</td>
          <td>{{jugador.atributos.sexualidad}}</td>
          <td>
            <button [disabled]="max_p || jugador.team" *ngIf="jugador.posicion == 'PIVOT'" class="btn btn-primary btn-sm" (click)="seleccionarJugador(jugador,i)">Seleccionar</button>
            <button [disabled]="max_ap" *ngIf="jugador.posicion == 'ALA-PIVOT'" class="btn btn-primary btn-sm" (click)="seleccionarJugador(jugador,i)">Seleccionar</button>
            <button [disabled]="max_a" *ngIf="jugador.posicion == 'ALERO'" class="btn btn-primary btn-sm" (click)="seleccionarJugador(jugador,i)">Seleccionar</button>
            <button [disabled]="max_e" *ngIf="jugador.posicion == 'ESCOLTA'" class="btn btn-primary btn-sm" (click)="seleccionarJugador(jugador,i)">Seleccionar</button>
            <button [disabled]="max_b" *ngIf="jugador.posicion == 'BASE'" class="btn btn-primary btn-sm" (click)="seleccionarJugador(jugador,i)">Seleccionar</button>
          </td>
      </tr>
      </tbody>
    </table>
  </section>

</section>

<section class="mensaje" [hidden]="draft.jugadores.length > 0">
  <h3>No hay jugadores seleccionables</h3>
</section>
