.contenedor{
  padding-top: 65px;
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: auto 1fr;

  grid-template-areas:
    "titulo botones"
    "ronda total"
    "jugadores jugadores";
  align-items: center;
}

.contenedor h1 {
  grid-area: titulo;

  color: white;
  font-weight: 300;

  padding-bottom: 32px;
}

.ronda {
  grid-area: ronda;

  color: white;
  font-weight: lighter;
}

.botones {
  grid-area: botones;
  justify-self: end;

  padding-bottom: 32px;
}

.total{
  grid-area: total;
  justify-self: end;

  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.jugadores {
  grid-area: jugadores;
}

