

<section class="contenedor">

  <h1>Lista equipos monos</h1>
  <section class="botones">
    <button class="btn" (click)="eliminarEquipos()" style="margin-right: 6px" ><span *ngIf="eliminandoEquipos"><i class="fas fa-circle-notch fa-spin" ></i></span> Eliminar Equipos</button>
    <button class="btn" (click)="generateEquipos()" style="margin-right: 6px"><span style="margin-right: 6px" *ngIf="generandoEquipos"><i class="fas fa-circle-notch fa-spin"></i></span>Generar Equipos</button>
    <button class="btn" (click)="vaciarEquipos()" style="margin-right: 6px"><span style="margin-right: 6px" *ngIf="vaciarJugadoresEquipo"><i class="fas fa-circle-notch fa-spin"></i></span>Vaciar jugadores de Equipo</button>
  </section>

  <h3 class="ronda" *ngIf="equipoSelector">Ronda {{rondaDraft}} - {{equipoSelector.name}}</h3>
  <h3 class="total" *ngIf="listadoEquiposSeleccionables">Número de equipos {{listadoEquiposSeleccionables.length}}</h3>

  <section class="jugadores">
    <table class="table table-striped table-hover table-bordered table-dark table-sm" *ngIf="listadojugadoresSeleccionables.length > 0">
      <thead>
      <tr>
        <th scope="col">Editar</th>
        <th scope="col">Nombre</th>
        <th scope="col">Posición</th>
        <th scope="col">AT</th>
        <th scope="col">DF</th>
        <th scope="col">REB</th>
        <th scope="col">PAS</th>
        <th scope="col">AGV</th>
        <th scope="col">SEX</th>
        <th scope="col">Seleccionar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let jugador of listadojugadoresSeleccionables; let i=index">
        <td style="text-align: center;"><i class="fas fa-edit"></i></td>
        <td>{{jugador.name}}</td>
        <td>{{jugador.posicion}}</td>
        <td>{{jugador.atributos.ataque}}</td>
        <td>{{jugador.atributos.defensa}}</td>
        <td>{{jugador.atributos.rebotes}}</td>
        <td>{{jugador.atributos.pase}}</td>
        <td>{{jugador.atributos.agresividad}}</td>
        <td>{{jugador.atributos.sexualidad}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="seleccionarJugador(jugador)">Seleccionar</button></td>
      </tr>
      </tbody>
    </table>

  </section>
</section>

<section class="mensaje" [hidden]="listadojugadoresSeleccionables.length > 0">
  <h3>No hay jugadores seleccionables</h3>
</section>
