
<section class="contenedor">

  <!--CABECERA-->
  <section>
    <h1>Equipos</h1>
  </section>

  <!--LISTADO EQUIPOS-->
  <section>
    <article *ngFor="let equipo of equiposL;" (click)="seleccionarEquipo(equipo._id)" >
      <span><img src="{{equipo.bandera}}" width="18px" height="12"></span>
      <span>{{equipo.name}}</span>
    </article>
  </section>

  <!--DETALLES EQUIPO-->
  <section *ngIf="equipoSelected" class="detallesEquipo">

    <!--NOMBRE Y ESCUDO EQUIPO-->
    <article class="nombreEquipo">
      <h2 class="nombre">{{equipoSelected.name}}</h2>
      <img class="escudo" src="{{equipoSelected.escudo}}" width="70px" height="70px">
      <hr>
    </article>

    <article class="estrellas" *ngIf="equipoSelected.palmares.length > 0">
      <span class="trofeos" *ngFor="let trofeo of equipoSelected.palmares ">
        <i class="fas fa-trophy"></i>
      </span>
      {{equipoSelected.palmares.length}}
    </article>

    <!--MEDIAS-->
    <article class="medias">
      <h5>Medias</h5>

      <th>Ataque</th>
      <th>Defensa</th>
      <th>Rebote</th>
      <th>Pase</th>
      <th>Agresividad</th>
      <th>Sexualidad</th>

      <td>{{medias.ataque}}</td>
      <td>{{medias.rebotes}}</td>
      <td>{{medias.pase}}</td>
      <td>{{medias.defensa}}</td>
      <td>{{medias.agresividad}}</td>
      <td>{{medias.sexualidad}}</td>

      <hr style="margin-top: 16px">
    </article>

    <article class="listadoJugadores">
      <h5>Jugadores</h5>
      <table *ngIf="equipoSelected.jugadores.length > 0">
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Posición</th>
          <th scope="col">Procedencia</th>
          <th scope="col">AT</th>
          <th scope="col">DF</th>
          <th scope="col">REB</th>
          <th scope="col">PAS</th>
          <th scope="col">AGV</th>
          <th scope="col">SEX</th>
          <th scope="col"> - </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let jugador of equipoSelected.jugadores; let i=index">
          <td>{{jugador.name}}</td>
          <td>{{jugador.edad}}</td>
          <td>{{jugador.posicion}}</td>
          <td>{{jugador.lugar}}</td>
          <td>{{jugador.atributos.ataque}}</td>
          <td>{{jugador.atributos.defensa}}</td>
          <td>{{jugador.atributos.rebotes}}</td>
          <td>{{jugador.atributos.pase}}</td>
          <td>{{jugador.atributos.agresividad}}</td>
          <td>{{jugador.atributos.sexualidad}}</td>
          <td><button class="btn btn-secondary btn-sm" [disabled]="equipoSelected.jugadores.length < 10" (click)="despedirJugador(jugador)"><i class="fas fa-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
    </article>
  </section>

  <section>
    <h1>Añadimos jugador</h1>

  </section>

</section>
