.contenedor{
  padding-top: 65px;
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto auto auto 1fr;
  grid-template-columns: auto 1fr;

  grid-template-areas:
    "titulo botones"
    "cuadroEquipos cuadroEquipos"
    "descripcionEquipo descripcionEquipo"
    "ronda total"
    "jugadores jugadores";
  align-items: center;
}

.contenedor h1 {
  grid-area: titulo;

  color: white;
  font-weight: 300;

  padding-bottom: 32px;
}

.ronda {
  grid-area: ronda;

  color: white;
  font-weight: lighter;
}

.botones {
  grid-area: botones;
  justify-self: end;

  padding-bottom: 32px;
}

.total{
  grid-area: total;
  justify-self: end;

  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.jugadores {
  grid-area: jugadores;
}

.mensaje{
  background-color: #212529;
  padding: 32px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border : solid #333333 thin;
  border-radius: 3px;
}

.mensaje > h3{
  color: white;
  font-weight: lighter;
}

.cuadroEquipos{
  grid-area: cuadroEquipos;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 16px;

}

.cuadroEquipos > article {
  background-color: #212529;
  padding: 12px 16px 12px 16px;
  margin-top: 0px;
  border : solid #333333 thin;
  font-weight: lighter;
  color: white;
}

.descripcionEquipo{
  grid-area: descripcionEquipo;
  display: grid;

  background-color: #1d2124;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
  "nombreEquipo nombreEquipo"
  "plantilla datos"
;

}

.descripcionEquipo .plantilla{
  grid-area: plantilla;
  padding: 0px 16px 0px 16px;
}
.descripcionEquipo .datos{
  grid-area: datos;
}

.descripcionEquipo > h1,h3{
  grid-area: nombreEquipo;
  color: white;
  font-weight: lighter;
  justify-self: center;
  padding: 8px;
}

.descripcionEquipo h5{
  color: white;
  padding-left: 16px;
  font-weight: lighter;
}




.cuadroEquipos > article > p {
  margin: 0px;
}


