<section>

  <h3>Jornada 1</h3>

  <app-partido [equipoLocal] = "'Fuentalbilla'"
               [equipoVisitante] = "'Cenicientos'">
  </app-partido>

  <app-partido [equipoLocal] = "'Fuentalbilla'"
               [equipoVisitante] = "'Cenicientos'">
  </app-partido>

  <app-partido [equipoLocal] = "'Fuentalbilla'"
               [equipoVisitante] = "'Cenicientos'">
  </app-partido>

  <app-partido [equipoLocal] = "'Fuentalbilla'"
               [equipoVisitante] = "'Cenicientos'">
  </app-partido>

  <app-partido [equipoLocal] = "'Fuentalbilla'"
               [equipoVisitante] = "'Cenicientos'">
  </app-partido>

  <app-partido [equipoLocal] = "'Fuentalbilla'"
               [equipoVisitante] = "'Cenicientos'">
  </app-partido>
</section>
