<section class="contenedor">
  <h1>Amistosos</h1>
  <h3>Seleccione 2 equipos</h3>


  <h5>Local</h5>
  <h5>Visitante</h5>

  <select [(ngModel)]="equipoLocal" (ngModelChange)="haciendoMedias(equipoLocal,'local')">
    <option *ngFor="let equipo of equipoList" [ngValue]="equipo">{{equipo.name}}</option>
  </select>

  <select [(ngModel)]="equipoVisitante" (ngModelChange)="haciendoMedias(equipoVisitante)">
    <option *ngFor="let equipo of equipoList" [ngValue]="equipo">{{equipo.name}}</option>
  </select>

  <img src="{{equipoLocal.escudo}}" *ngIf="equipoLocal" width="200" height="200">
  <img src="{{equipoVisitante.escudo}}" *ngIf="equipoVisitante" width="200" height="200">

  <table *ngIf="equipoLocal">
    <thead>
    <tr>
      <th>ATQ</th>
      <th>DEF</th>
      <th>REB</th>
      <th>PAS</th>
      <th>AGV</th>
      <th>SEX</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{medias.local.ataque}}</td>
      <td>{{medias.local.rebotes}}</td>
      <td>{{medias.local.pase}}</td>
      <td>{{medias.local.defensa}}</td>
      <td>{{medias.local.agresividad}}</td>
      <td>{{medias.local.sexualidad}}</td>
    </tr>
    </tbody>
  </table>

  <table *ngIf="equipoVisitante">
    <thead>
    <tr>
      <th>ATQ</th>
      <th>DEF</th>
      <th>REB</th>
      <th>PAS</th>
      <th>AGV</th>
      <th>SEX</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{medias.visitante.ataque}}</td>
      <td>{{medias.visitante.rebotes}}</td>
      <td>{{medias.visitante.pase}}</td>
      <td>{{medias.visitante.defensa}}</td>
      <td>{{medias.visitante.agresividad}}</td>
      <td>{{medias.visitante.sexualidad}}</td>
    </tr>
    </tbody>
  </table>

  <section class="botones">
    <button style="margin-right: 6px" [disabled]=" !equipoLocal || !equipoVisitante || cuarto !== 'primero'" (click)="jugarPartido();cuarto = 'segundo'">
      1º Cuarto <br> {{marcador.local.primerCuarto}} - {{marcador.visitante.primerCuarto}}
    </button>
    <button style="margin-right: 6px" [disabled]="cuarto !== 'segundo'" (click)="jugarPartido();cuarto = 'tercero'">
      2º Cuarto <br> {{marcador.local.segundoCuarto}} - {{marcador.visitante.segundoCuarto}}
    </button>
    <button style="margin-right: 6px" [disabled]="cuarto !== 'tercero'" (click)="jugarPartido();cuarto = 'cuarto'">
      3º Cuarto <br> {{marcador.local.terceroCuarto}} - {{marcador.visitante.terceroCuarto}}
    </button>
    <button style="margin-right: 6px" [disabled]="cuarto !== 'cuarto'" (click)="jugarPartido();cuarto = 'final'">
      4º Cuarto <br> {{marcador.local.cuartoCuarto}} - {{marcador.visitante.cuartoCuarto}}
    </button>
    <button style="margin-right: 6px"(click)="reiniciarPartido()">Reiniciar partido</button>

  </section>
</section>

<section class="totales">
  {{marcador.local.final}} - {{marcador.visitante.final}} <br>
  <!--<span *ngIf="marcador.local.final !== 0" class="ganador">GANADOR</span><br>-->

</section>

<section class="canvas" style="display: none">
  <canvas id="canvas">{{ chartLocal }}</canvas>
</section>
