h1,h2,h3,h4,h5,h6{
  font-weight: lighter;
  color: white;
}

select{
  padding: 6px;
  border-radius: 7px;
  background-color: #2c3034;
  color: white;
}

.contenedor{
  padding-top: 65px;
  display: grid;
  width: 100%;

  grid-template-areas:
  "cabecera         cabecera"
  "subtitulo        subtitulo"
  "textoLocal       textoVisitante"
  "selectLocal      selectVisitante"
  "imgLocal         imgVisitante"
  "tableMediasLocal tableMediasVisitante"
  "botonJugar       botonJugar"
  "totales            totales"
;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 16px;
}

/*CABECERA*/
h1:nth-of-type(1){
  grid-area: cabecera;
}

/*SELECCIONE 2 EQUIPOS*/
h3:nth-of-type(1){
  grid-area: subtitulo;
  justify-self: center;
}

/*TEXTO LOCAL*/
h5:nth-of-type(1){
  grid-area: textoLocal;
}

/*TEXTO VISITANTE*/
h5:nth-of-type(2){
  grid-area: textoVisitante;
}

/*SELECT LOCAL*/
select:nth-of-type(1){
  grid-area: selectLocal;
}

/*SELECT VISITANTE*/
select:nth-of-type(2){
  grid-area: selectVisitante;
}

/*IMAGEN LOCAL*/
img:nth-of-type(1){
  grid-area: imgLocal;
  justify-self: center;
}

/*IMAGEN VISITANTE*/
img:nth-of-type(2){
  grid-area: imgVisitante;
  justify-self: center;
}

/*TEXTO MEDIAS LOCAL*/
h5:nth-of-type(3){
  grid-area: textMediaLocal;
}

/*TEXTO MEDIAS VISITANTE*/
h5:nth-of-type(4){
  grid-area: textMediaVisitante;
}

table:nth-of-type(1){
  grid-area: tableMediasLocal;
}

table:nth-of-type(2){
  grid-area: tableMediasVisitante;
}

.botones{
  grid-area: botonJugar;
  justify-self: center;
}

.totales{
  grid-area: totales;
  justify-self: center;
  text-align: center;

  color: white;
  font-size: 50px;
  font-weight: bolder;
}

.canvas{
  grid-area: grafico;
}








/*BOTONES*/
button{
  padding: 6px 46px 6px 46px;
  background-color: #2a2c2d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: none;
}

button:disabled{
  background-color: #959696;
  color: white;
  cursor: not-allowed;
}

button:hover{
  background-color: #959696;
  color: white;
}
