section.container{
  margin-top: 100px;
  display: grid;
  /*grid-template-rows: auto;*/
  grid-template-columns: 60% 40%;
  grid-template-areas: "liga clasificacion";
  grid-gap: 16px;
}

section.container section.liga{
  grid-area: liga;
}

section.container section.clasificacion{
  grid-area: clasificacion;
}
