<section class="container">

  <!--<section style="display: flex;padding: 6px;">-->
    <!--<button class="btn btn-secondary" (click)="showClasificacion = false" [disabled]="!showClasificacion" style="margin-right: 6px">Liga</button>-->
    <!--<button class="btn btn-secondary" (click)="showClasificacion = true" [disabled]="showClasificacion">Clasificación</button>-->
  <!--</section>-->

  <!--<div *ngIf="!showClasificacion">-->


  <pre style="color: white">{{message}}</pre>
  <!--<pre>{{mss}}</pre>-->


  <div>
    <section class="liga" *ngFor="let jornada of jornadas; let i=index">
      <app-jornada
        [numJornada]="i"
        [jornada]="jornada"
        ></app-jornada>
    </section>
  </div>

  <section class="clasificacion">
    <app-clasificacion></app-clasificacion>
  </section>

</section>
